**acknowledge_letter_copyright.pdf
**acknowledge_letter_copyright.pdf
**entire_form_copyright.pdf
**Screen Recording 2025-05-06 091250.mp4
**SmartWasteBin_dashboard.txt
**copyright_payment_receipt.pdf
**dashboard